.button {
  background: #3eb259;
  border: none;
  padding: 10px 40px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 0.5rem;
    padding: 10px 20px;
  }
}
