.footer {
  background: linear-gradient(180deg, #3eb259 0%, #2b9144 100%);
  padding: 40px 0 0 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 40% 15% 15% 15% 15%;
  column-gap: 10px;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
  .wrapper {
    grid-template-columns: 100%;
  }
  .wrapper1 article {
    margin-bottom: 20px;
    font-family: "Open sans", sans-serif;
    line-height: 24px;
  }
  .footerThumbNail article {
    font-size: 9px !important;
  }

  .footerThumbNail {
    grid-template-columns: auto auto !important;
  }
}

.wrapper1 {
}

.wrapper1 article {
  color: #fff;
}

input {
  background: #fff;
  color: #009f32;
  padding: 12px 12px;
  border: none;
  outline: none;
  flex: 1;
  margin-right: 2px;
  font-family: "Open Sans", sans-serif;
}

input::placeholder {
  color: #009f32;
  font-family: "Open Sans", sans-serif;
}

button {
  outline: none;
  border: none;
  background: #fff;
  color: #009f32;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

article {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.footerLogo {
  height: 120px;
}

ul {
  list-style: none;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0;
  margin-top: 20px;
}

ul.footerUL li {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
  line-height: 40px;
  display: flex;
}

ul li a {
  color: inherit !important;
  text-decoration: none;
}

hr {
  background: #fff;
}

li img {
  margin-right: 6px;
}

.footerThumbNail {
  display: grid;
  grid-template-columns: auto 40%;
  column-gap: 10px;
  padding: 16px 0;
}

.footerThumbNail h1 {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

.footerThumbnailRight {
  display: flex;
  justify-content: flex-end;
}

.footerThumbnailRight article {
  margin-right: 16px;
  text-decoration: underline;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.nav {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "section1 section2 section3";
}

@media screen and (max-width: 768px) {
  .nav {
    grid-template-columns: 100%;
    grid-template-areas:
      "section1"
      "section3"
      "section2";
  }
}

.section1,
.section2,
.section3 {
  padding: 40px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e63c00;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.section1 {
  background: #f5fbf8;
  grid-area: section1;
}

.section2 {
  background: #f1f7f3;
  grid-area: section2;
}

.section3 {
  background: #f5fbf8;
  grid-area: section3;
}
