.sectionWelcome {
  display: grid;
  min-height: 110vh;
  margin-bottom: 80px;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
  grid-template-areas: "welcomeText1 welcomeImage1";
}

.mobileScreenWrapper {
  min-height: 75vh;
  background: url("../../assets/svg/mobileHero.webp");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  color: #3eb259;
}

.sectionWelcome .welcomeText1 {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.homeSection {
  display: grid;
  row-gap: 80px;
  margin-bottom: 80px;
}
.welcomeImage1 {
  grid-area: welcomeImage1;
  background-image: url("../../assets/svg/map.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-position: center;
}

.welcomeText1 {
  grid-area: welcomeText1;
  display: grid;
  align-items: center;
}

.welcomeText1 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 4.5rem;
}

.welcomeText1 h1:last-child {
  margin-bottom: 20px;
}

.welcomeText1 article {
  font-family: "Poppins", sans-serif;
}

.transparentName {
  /* background-image: url("../../assets/svg/transparentName.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 200px;
  margin-top: 16px; */
}

.section2 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 30px;
}

.welcomeImage2 {
  background-image: url("../../assets/svg/shakeHand.webp");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.welcomeText2 h1,
.mobileScreenWrapper h1.header {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #3eb259;
  line-height: 40px;
}

.welcomeText2 article,
.mobileScreenWrapper article {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 23px;
}

.mobileScreenWrapper h1.header,
.mobileScreenWrapper article {
  color: #fff !important;
}

.mobileScreenWrapper h1.header {
}
.mobileScreenWrapper article {
  margin: 20px 0;
}

.section2Info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}

.section2Info h1,
.section2Info article {
  font-family: "Open Sans", sans-serif;
}

.section2Info h1 {
  color: #3eb259;
  font-weight: 400;
}

.section2Info article {
  font-size: 14px;
  line-height: 20px;
}

.heading {
  color: #ff6633;
  text-transform: uppercase;
}

/* section 3 */

.section3 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.section3 ul {
  list-style: none;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.section3 ul li {
  color: #3eb259;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.welcomeImage3 {
  background-image: url("../../assets/svg/crane.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: section3-section2;
}

.section3 .wrapper {
  grid-template-areas: "section3-section1 section3-section2";
}

.welcomeText3 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #3eb259;
  line-height: 40px;
}

.welcomeText3 {
  grid-area: section3-section1;
}

.welcomeText3 article {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 23px;
}

.section3Info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}

.section3Info h1,
.section3Info article {
  font-family: "Open Sans", sans-serif;
}

.section3Info h1 {
  color: #3eb259;
  font-weight: bold;
}

.section3Info article {
  font-size: 14px;
  line-height: 20px;
}

/* secton 4 */

.section4 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.welcomeImage4 {
  background-image: url("../../assets/svg/warehouse.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.welcomeText4 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #3eb259;
  line-height: 40px;
}

.welcomeText4 article {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 23px;
}

.section4Info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}

.section4Info h1,
.section4Info article {
  font-family: "Open Sans", sans-serif;
}

.section4Info h1 {
  color: #3eb259;
  font-size: 14px;
}

.section4Info article {
  font-size: 14px;
  line-height: 20px;
}

/* section 5 */

.section5 {
  display: grid;

  grid-template-columns: 50% 50%;
  column-gap: 30px;
  grid-template-areas: "section1 section2";
}

.contentWrapper {
  grid-area: section2;
}

.welcomeImage5 {
  background-image: url("../../assets/svg/shakeHand.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.welcomeText5 {
  grid-area: section1;
}

.welcomeText5 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #3eb259;
  line-height: 40px;
}

.welcomeText5 article {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 23px;
}

.section5Info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}

.section5Info h1,
.section5Info article {
  font-family: "Open Sans", sans-serif;
}

.section5Info h1 {
  color: #3eb259;
  font-weight: bold;
}

.section5Info article {
  font-size: 14px;
  line-height: 20px;
}

.section5 ul {
  list-style-type: disc;
  padding-left: 0;
}

.section5 ul li {
  color: #3eb259;
  line-height: 30px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

/* section 6 */

.section6 {
  display: grid;

  grid-template-columns: 45% auto;
  column-gap: 30px;
}

.welcomeImage6 {
  background-image: url("../../assets/svg/shakeHand.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.welcomeText6 h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #3eb259;
  line-height: 40px;
}

.welcomeText6 article {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 23px;
}

.section6Info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}

.section6Info h1,
.section6Info article {
  font-family: "Open Sans", sans-serif;
}

.section6Info h1 {
  color: #3eb259;
  font-weight: bold;
}

.section6Info article {
  font-size: 14px;
  line-height: 20px;
}

.section6 ul {
  list-style-type: disc;
  padding-left: 0;
}

.section6 ul li {
  color: #3eb259;
  line-height: 30px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.section6 img.logos {
  height: 120px;
  object-fit: contain;
  object-position: center;
  margin-right: 10px;
}

.partnerLogo {
  display: flex;
  justify-content: flex-end;
}

.partnerLogo img {
  height: 120px;
  object-position: center;
  object-fit: contain;
  margin-right: 10px;
}

/* section 7 */

.section7 {
  display: grid;
}

.welcomeImage7 {
  background-image: url("../../assets/svg/shakeHand.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.welcomeText7 article {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 23px;
}

.section7Info {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}

.section7 h1 {
  color: #ff6633;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 2.8rem;
  font-size: 2rem;
}
.section7Info article {
  font-family: "Open Sans", sans-serif;
}

.section7Info h1 {
  color: #3eb259;
  font-weight: bold;
}

.section7Info article {
  font-size: 14px;
  line-height: 20px;
}

.section7 ul {
  list-style-type: disc;
  padding-left: 0;
}

.section7 ul li {
  color: #3eb259;
  line-height: 30px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .sectionWelcome {
    grid-template-columns: 100%;
    grid-template-areas: "welcomeText1";
    width: 100%;

    height: 60vh;
  }
  .welcomeImage1 {
    display: none;
  }
  .welcomeText1 h1 {
    font-size: 2.5rem;
  }
  .wrapper {
    grid-template-columns: 100%;
  }
  .welcomeImage2,
  .welcomeImage3,
  .welcomeImage4,
  .welcomeImage5,
  .welcomeImage6,
  .welcomeImage7 {
    height: 250px;
  }

  .section3 ul li {
    font-size: 12px;
    line-height: 23px;
  }

  .section3 ul {
    margin-top: 20px;
  }

  .section4 .heading,
  .section3 .heading,
  .section2 .heading,
  .section1 .heading,
  .section6 .heading,
  .section7 .heading {
    margin-top: 20px;
    display: block;
  }

  .section3 .wrapper {
    grid-template-areas:
      "section3-section2"
      "section3-section1";
  }
  .section5,
  .section6,
  .section7 {
    grid-template-columns: 100%;
    grid-template-areas:
      "section1"
      "section2";
  }
  .welcomeText5 h1 {
    font-size: 30px;
    line-height: 30px;
  }

  .partnerLogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 120px));
    column-gap: 30px;
    justify-content: center;
  }

  .partnerLogo img {
    width: 100%;
    object-fit: contain;
  }

  .contentWrapper ul {
    padding: 0 16px;
  }
  .contentWrapper ul li {
    line-height: 24px;
  }

  .section5 ul {
  }

  .welcomeText1 h1:last-child,
  .welcomeText2 h1:last-child,
  .welcomeText3 h1:last-child,
  .welcomeText4 h1:last-child,
  .welcomeText5 h1:last-child,
  .welcomeText6 h1:last-child,
  .welcomeText7 h1:last-child {
    margin-bottom: 20px;
  }

  .welcomeText1 h1,
  .welcomeText2 h1,
  .welcomeText3 h1,
  .welcomeText4 h1,
  .welcomeText5 h1,
  .welcomeText6 h1,
  .welcomeText7 h1 {
    line-height: 2.5rem !important;
  }

  article {
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
  }
}

article {
  line-height: 27px;
  font-family: "Open Sans", sans-serif;
}
